

<!-- Trigger the modal with a button -->
<div class="row">
  <%= button_to "All Services", services_path,class:"btn btn-primary btn-sm",method: :get %>
  <br />
  <div id= "new-service-tooltip">
  <button
    type="button"
    class="btn btn-primary btn-sm"
    <%= "disabled=true" unless user_signed_in? %>
    data-toggle="modal"
    data-target="#mynewservice">
      New Service
    </button>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="mynewservice" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">New Service</h4>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
                <%= render 'form' %>
            </div>

            <!-- Modal Footer -->
            <!-- <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal" id="mynewserviceclose">Close</button>
                <button type="button" class="btn btn-primary">
                    Create
                </button>
            </div> -->
        </div>
    </div>
</div>
<script>$("#new-service-tooltip").tooltip({trigger: "hover", title: "Please sign in to add services"});</script>
