
<!-- Trigger the modal with a button -->
<div class="row">
  <%= button_to "All Projects", projects_path,class:"btn btn-primary btn-sm",method: :get %>
  <br />
  <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#mynewproject">New Project</button>
</div>


<!-- Modal -->
<div class="modal fade" id="mynewproject" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">New Project</h4>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
                <%= render 'form' %>
            </div>

            <!-- Modal Footer -->
            <!-- <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal" id="mynewserviceclose">Close</button>
                <button type="button" class="btn btn-primary">
                    Create
                </button>
            </div> -->
        </div>
    </div>
</div>
