<!-- <ul>
  <li><%= link_to "All Companies", companies_path %></li>
  <li><%= link_to "New Company", new_company_path %></li>

</ul> -->
<!-- Trigger the modal with a button -->
<div class="row">
  <%= button_to "All Companies", companies_path,class:"btn btn-primary btn-sm",method: :get %>
  <br />
  <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#mynewcompany">New Company</button>
</div>
